body{
    background-color:rgba(255, 192, 227, 0.041);
    font-family: Georgia;
}

h1 
h2
h3
a
{
    color: rgb(50, 14, 80);
    
    
}

h1{
    font-weight: normal;
    font-style: italic;
}

a{
    font-style: italic;
    color: red;
}